body{
    margin:0;
    padding:0;
    width: 100%;
    background-color: #ffffff;
}

#left-column{
    width: 60%;
    float: left;
    background-color:limegreen;
}

#right-column img{
    width: 450px;
    margin-left: 80px;
    margin-top: 100px;
}

img#logo{
    position: fixed;
    width: 130px;
    bottom: 20px;
    right: 10px;
}